<body>
  <mat-card>
    <mat-card-title>
      Forgot my Password
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="ChangePasswordForm" (ngSubmit)="ChangePassword()">
        <div>
          <p
            style="color: #e92626; font-size: 20px; font-weight: normal;"
            Class="success"
          >
            {{ errorMessage }}
          </p>
        </div>

        <br />

        <p style="color: red;">{{ ConfirmationError }}</p>
        <mat-form-field appearance="outline">
          <mat-label style="color: white;">Password</mat-label>
          <input
            formControlName="password"
            type="password"
            matInput
            (keyup)="
              CheckPassword(ChangePasswordForm.value.password, ConfirmPassword)
            "
          />
        </mat-form-field>

        <br />

        <mat-form-field appearance="outline">
          <mat-label style="color: white;">Confirm Password</mat-label>
          <input
            type="password"
            matInput
            (keyup)="
              CheckPassword(ChangePasswordForm.value.password, ConfirmPassword)
            "
            [(ngModel)]="ConfirmPassword"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>

        <br />

        <div class="form-group">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="
              !ChangePasswordForm.valid ||
              !CheckPassword(ChangePasswordForm.value.password, ConfirmPassword)
            "
          >
            Change Password
          </button>
        </div>
        <br />
      </form>
    </mat-card-content>
  </mat-card>
</body>
