@import "src/styles.scss";

body {
  background-color: black;
  height: 88vh;
  position: relative;
}

mat-card {
  background-color: $PrimaryColor;
  width: 85%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border-radius: 15px;
  border: 1px solid white;
}

.card{
  background-color: $PrimaryColor;
  width: 50%;
  max-width: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border-radius: 15px;
  border: 1px solid white;

  justify-content: center;
  align-items: center;

}
.card-title{
  text-align: center;
  padding: 10px;
  font-size: 32pt;
  font-weight: 900;
  color:$TextColor;
}

.card-body{
  justify-content: center;
  align-items: center;
  width: 75%;
}

mat-card-title {
  text-align: center;
  padding: 10px;
  font-size: 32pt;
  font-weight: 900;
  color: white;
}

mat-card-content {
  justify-content: center;
  align-items: center;
}

.form-group{
  margin-bottom: 1rem;
}

form {
  // width: fit-content;
  margin: auto;
}

input {
  color: $TextColor;
  width : 100 !important;
}

label{
  color : $TextColor;
}

::placeholder {
  color: $TextColor;
}

a:link,
a:visited {
  //color: white;
  text-decoration: underline;
  font-size: 14pt;
}

//If the browser window is 1000px or bigger
@media only screen and (min-width: 1000px) {
  mat-card {
    width: 800px;
  }
}

// .login-dark {
//   height: 1000px;
//   background: #475d62 url(../../../assets/background.jpg);
//   background-size: cover;
//   position: relative;
// }

// .login-dark form {
//   max-width: 320px;
//   width: 90%;
//   background-color: #1e2833;
//   padding: 40px;
//   border-radius: 4px;
//   transform: translate(-50%, -50%);
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   color: #fff;
//   box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
// }

// .login-dark .illustration {
//   text-align: center;
//   padding: 15px 0 20px;
//   font-size: 100px;
//   color: #2980ef;
// }

// .login-dark form .form-control {
//   background: none;
//   border: none;
//   border-bottom: 1px solid #434a52;
//   border-radius: 0;
//   box-shadow: none;
//   outline: none;
//   color: inherit;
// }

// .login-dark form .btn-primary {
//   background: #214a80;
//   border: none;
//   border-radius: 4px;
//   padding: 11px;
//   box-shadow: none;
//   margin-top: 26px;
//   text-shadow: none;
//   outline: none;
// }

// .login-dark form .btn-primary:hover,
// .login-dark form .btn-primary:active {
//   background: #214a80;
//   outline: none;
// }

// .login-dark form .forgot {
//   display: block;
//   text-align: center;
//   font-size: 12px;
//   color: #6f7a85;
//   opacity: 0.9;
//   text-decoration: none;
// }

// .login-dark form .forgot:hover,
// .login-dark form .forgot:active {
//   opacity: 1;
//   text-decoration: none;
// }

// .login-dark form .btn-primary:active {
//   transform: translateY(1px);
// }
