<body>
  <!-- <mat-card>
    <mat-card-title>
      Login
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="LoginForm" (ngSubmit)="LogIn()">
        <div>
          <p
            style="color: #e92626; font-size: 20px; font-weight: normal;"
            Class="success"
          >
            {{ errorMessage }}
          </p>
        </div>

        <br />

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label style="color: white;">Email</mat-label>
          <input
            matInput
            formControlName="userEmail"
            placeholder="Ex. pat@example.com"
          />
        </mat-form-field>

        <br />

        <mat-form-field appearance="outline">
          <mat-label style="color: white;">Password</mat-label>
          <input formControlName="userPassword" type="password" matInput />
        </mat-form-field>

        <br />

        <div class="form-group">
          <button mat-raised-button color="primary" type="submit">
            Log In
          </button>
        </div>
        <br />

        <a [routerLink]="['/Register']">Dont have an Acount? Register here</a>
        <br />
        <br />
        <a href="#" (click)="ForgotPassword()"
          >Forgot your password? Click here</a
        >
      </form>
    </mat-card-content>
  </mat-card> -->

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Log In</h3>
      <form [formGroup]="LoginForm" (ngSubmit)="LogIn()">

        <div>
          <p
            style="color: #e92626; font-size: 20px; font-weight: normal;"
            Class="success"
          >
            {{ errorMessage }}
          </p>
        </div>

        <div class="form-group w-75">
          <label for="UserEmail" class="form-label">Email Address</label>
          <input
            type="email"
            class="form-control"
            id="UserEmail"
            placeholder="name@example.com"
            formControlName="userEmail"
          >
        </div>

        <div class="form-group w-75">
          <label for="UserPassword" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="UserPassword"
            formControlName="userPassword"
          >
        </div>

        <button class="btn btn-primary" type="submit"> Log In </button>

        <br>
        <br>

        <a [routerLink]="['/Register']">Dont have an Acount? Register here</a>
        <br />
        <a href="#" (click)="ForgotPassword()"
          >Forgot your password? Click here</a
        >

      </form>

    </div>
  </div>

</body>
