<!-- <nav class="navbar navbar-dark bg-dark" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../assets/Logo.png"
        width="50"
        height="50"
        class="d-inline-block"
        alt=""
        loading="lazy"
      />
      Project Manager
    </a>

    <div ngbDropdown class="d-inline-block" >
      <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div>

    <div ngbDropdown class="d-inline-block" style="margin-right: 2em;" >

      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div>

  </div>

</nav> -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <span class="navbar-brand">
    <a class="navbar-brand" href="#">
      <img
        src="../assets/Logo.png"
        width="50"
        height="50"
        class="d-inline-block"
        alt=""
        loading="lazy"
      />
      Project Manager
    </a>
  </span>
  <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
    <ul class="navbar-nav ml-auto">

      <ng-container *ngIf="(IsUserLoggedIn$ | async) == true ">
        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right" style="margin-right: 3em;">
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
            <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-bell-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
              <text x="11" y="12" textAnchor="middle" fontSize="5" fill="white">
                {{NotificationList.length}}
            </text>
            </svg>
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu dropdown-large">
            <h2>Notifications</h2>
            <hr>

            <!-- Div to contain each notification -->
            <div>
              <div class="card" *ngFor="let notification of NotificationList">
                <div class="card-body">
                  {{notification.notificationSubject}}
                </div>
              </div>
            </div>
            <!-- <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a> -->
          </div>
        </li>
      </ng-container>

      <li  class="nav-item" ngbDropdown display="dynamic" placement="bottom-right" style="margin-right: 1em;">
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
          <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
          <button ngbDropdownItem>{{ActiveUserName$ | async}}</button>
          <div class="dropdown-divider"></div>
          <button  ngbDropdownItem *ngIf="(IsUserLoggedIn$ | async) == true ">
            Go to Profile
          </button>
          <button ngbDropdownItem *ngIf="(IsUserLoggedIn$ | async) == false ">
            LogIn
          </button>
          <button ngbDropdownItem (click)="LogOut()" *ngIf="(IsUserLoggedIn$ | async) == true ">
            LogOut
          </button>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<app-spinner></app-spinner>
