.example-spacer {
  flex: 1 1 auto;
}

#Profile {
  font-size: 40px;
  border: 1px white solid;
  border-radius: 30px;
}

.dropdown-large{ padding:20px; }

@media all and (min-width: 992px) {
	.dropdown-large{
    min-width:700px;
    min-height: 500px;
  }
}

.card{
  margin-bottom: 1rem;
}
