/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: black;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
}

app-overlay {
  width: 100%;
  height: 100%;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

//Varibales for Color Scheme

$PrimaryColor: #3d4849;
$SecondaryColor: rgb(103,58,183);
$TextColor: white;
