
#MainContent{
  padding : 1rem;
  margin: auto;
}

#NotificationLogo{
  font-size: 24pt;
  margin: auto;
}

h3{
  font-weight: 600;
}

svg:hover{
  fill: rgb(254, 8, 87);
}

#NotificationPanel .modal-dialog {
  -webkit-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  top: 50%;
  margin: 0 auto;
}

.dropdown{
  padding: 1rem;
}

#dropdownMenuButton .dropdown-menu{
  min-width: 7rem !important;
}

label{
  font-size: 1rem;
  font-weight: 600;
}
