<div id="MainContent">
  <div class="card" style="width: 18rem;">
    <div id="NotificationLogo">
      <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-bell-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
      </svg>
    </div>

    <div class="card-body">
      <h3 class="card-title">Notifications</h3>
      <p class="card-text">
        Click on the butto below to send notifications to your users
      </p>
      <a class="btn btn-primary" data-toggle="modal" data-target="#NotificationPanel">
        Send Notification
      </a>
    </div>
  </div>
</div>

<div class="modal fade" id="NotificationPanel" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl .modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h2>Click on the Drop Down below to start the notification process!</h2>
      <div class="dropdown">
        <button  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Notification Type
        </button>

        <!-- This is the drop down button -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div class="form-check">
            <input (change)="OnNotificationSelectorChange($event.target.value)" class="form-check-input" type="radio" name="NotificationSelector" id="AllUsers" value="AllUsers" checked>
            <label class="form-check-label" for="AllUsers">
              All Users
            </label>
          </div>
          <div class="form-check">
            <input (change)="OnNotificationSelectorChange($event.target.value)" class="form-check-input" type="radio" name="NotificationSelector" id="UserGroups" value="UserGroups">
            <label class="form-check-label" for="UserGroups">
              User Groups
            </label>
          </div>
          <div class="form-check">
            <input (change)="OnNotificationSelectorChange($event.target.value)" class="form-check-input" type="radio" name="NotificationSelector" id="MultiUserSelect" value="MultiUserSelect">
            <label class="form-check-label" for="MultiUserSelect">
              Multi-User Select
            </label>
          </div>
        </div>

        <!-- Div that will contain Notification details depending on Drop Down Selecrion -->
        <div id="NotificationDetails" class="form-group">

          <br>

          <div class="form-group">
            <label for="NotificationSubject">Notification Subject</label>
            <input [(ngModel)]="CurrentNotification.NotificationSubject" class="form-control" id="NotificationSubject" type="text" placeholder="Enter in Notification Subject">
          </div>

          <br>

          <div class="form-group">
            <label for="NotificationText">Notification Text</label>
            <textarea [(ngModel)]="CurrentNotification.NotificationText" class="form-control" id="NotificationText" name="NotificationText" rows="25">Type in the text of the notification you would like to send</textarea>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="SendNotification()">Send</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

